:root {
    --color-back: #45aaf2;
    --color-display: #f7b731;
    --color-pad: #4b6584;
    --color-pad-clicked: #20bf6b;
    --color-font: white;
}

body {
    color: var(--color-font);
    background-color: var(--color-back);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#drum-machine {
    // border: 2px solid red;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vmax;

    .machine-part {
        // border: 2px solid black;
        width: 40vmax;

    }

    #pads-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        height: 40vmax;



        .drum-pad {
            font-size: 4vmax;
            // border: 2px solid black;
            border-radius: 15px;
            background-color: var(--color-pad);
            height: 12vmax;
            width: 12vmax;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .clicked {
            background-color: var(--color-pad-clicked);
        }
    }

    #display {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16vmax;

        p {
            background-color: var(--color-display);
            text-align: center;
            padding: 2vmax;
            font-size: 6vmax;
            // border: 2px solid black;
            border-radius: 15px;
            background-color: var(--color-display);
            width: 35vmax;
            height: 10vmax
        }
    }
}

@media screen and (orientation:portrait) {
    #drum-machine {
        flex-direction: column;
    }
}