:root {
    --main-color: black;
    --color-back: beige;
}

body {
    background-color: var(--color-back);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#drum-machine {
    // border: 2px solid red;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vmax;

    .machine-part {
        // border: 2px solid var(--main-color);
        width: 40vmax;

    }

    #pads-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        height: 40vmax;



        .drum-pad {
            font-size: 4vmax;
            // border: 2px solid var(--main-color);
            border-radius: 15px;
            background-color: aliceblue;
            height: 10vmax;
            width: 10vmax;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .clicked {
            background-color: orange;
        }
    }

    #display {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16vmax;

        p {
            text-align: center;
            padding: 2vmax;
            font-size: 6vmax;
            // border: 2px solid black;
            border-radius: 15px;
            background-color: white;
            width: 32vmax;
            height: 10vmax
        }
    }
}

@media screen and (orientation:portrait) {
    #drum-machine {
        flex-direction: column;
    }
}